body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
}

h1, h2 {
  color: #333;
}

form {
  margin-top: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #955;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #922;
}

.postList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.post {
  width: 300px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post input {
  width: 100%;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.comment {
  width: 100%;
  padding: 5px 10px;
  background-color: #77777750;
  border-radius: 5px;
}